.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #d6dfec 0%, #a3afb4 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  font-size: 24px;
}

.search-button{
  height: 70px;
  background-color: #4facfe ;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 24px;
}

.recipes{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}